<!-- CARDS -->

<div class="row mt-5" data-test="cards">

    {% for key, tour in tours.items %}
     <div class="col-4" data-test="card">
        <div class="card mb-3" >
        <img src="{{ tour.picture }}" class="card-img-top frozen-size-img" data-test="picture">
            <div class="card-body">
                <h5 class="card-title">{{ tour.title }} &nbsp {{ tour.stars }}★</h5>
                <p class="card-text">{{ tour.description|truncatechars:150 }}</p>
                <p><strong>{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} &#8381</strong></p>
                <a href="/tour/{{ key }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
